<!--2°card: acerca de mi y ejemplo de "funcion" edicion-->
<div class="card" id="card2">
    <div class="card-body">

        <div class="row">

            <div class="col-10" medio>
                <h5 class="card-title">Acerca de</h5>
            </div>
            <div class="col-2 d-flex justify-content-end align-items-end" editores>
                <button tipe="button" data-bs-toggle="modal" data-bs-target="#acercadeModal"
                    data-bs-whatever="SACARESTO?@mdo">
                    <i class="bi bi-pencil"></i>
                </button>
            </div>
            <p id="text-acercade" class="card-text">{{acercaDe.acercaDeMi}} </p>
        </div>
    </div>
</div>



    <!-- modal-1.5 Acercade  editar-->
    <!-- <div class="modal fade" id="acercadeModal" tabindex="-1" aria-labelledby="acercadeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="text-center" [formGroup]="form" (ngSubmit)="onEnviar($event)" name="acercadeForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="acercadeModalLabel">Editar Datos en Acerca de</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            routerLink="/"></button>
                    </div>

                    <div class="modal-body">

                        <input type="hidden" formControlName="id" [ngModel]="acercade.id">

                        <div class="mb-3">
                            <h5>Editar Informacion</h5>
                            <textarea class="form-control" id="adcercadeInfo" formControlName="info"
                                [ngModel]="acercade.info"></textarea>
                            <label class="form-label" for="adcercadeInfo"></label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-primary">Guardar Cambios</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
 -->

<!--marcador # para interes en-->
<div id="educacion"></div><!--redireccion interna enfoca mejor-->

