<div class="row">
    <div class="col-10" medio>
        <h3 class="card-title">Educación</h3>
    </div>
    <div class="col-2" editores>
        <button tipe="button" data-bs-toggle="modal" data-bs-target="#educacionNuevaModal"
            data-bs-whatever="QUEHACE?@mdo">
            <i class="bi bi-plus-lg"></i>
        </button>
    </div>
</div>

<div class="row" id="filaEspacio">
    <div class="col-xs-12 col-sm-2" logo>
        <img id="lugares-logo" class="logo" src="./assets/logo-argprog.png" alt="logo arg programa">
    </div>
    <div class="col-xs-12 col-sm-8" id=medio>
        <h4 class="card-title">Nombre de Lugares </h4>

        <p>seccion, expecialidades</p>
        <p><strong>fechas</strong></p><strong>
        </strong>
    </div>
    <div class="col-xs-12 col-sm-2" id=editores>
        <button tipe="button" data-bs-toggle="modal" data-bs-target="#educacionModal"
            data-bs-whatever="SACARESTO?@mdo">
            <i class="bi bi-pencil"></i>
        </button>
        <button tipe="submit" class=""><i class="bi bi-trash3"></i></button>

    </div>

</div>

<!-- boton borrar ¿? 
    
    <a href="#" class="-btnCRUD" (click)="delete(educacion.id)">
          <i class="fas fa-trash-alt"></i>
        </a> -->

<!--marcador # para interes en-->
<div id="habilidad"></div><!--redireccion interna enfoca mejor-->


<!--marcador # para interes en-->
<div id="proyectos"></div><!--redireccion interna enfoca mejor-->
