<!--  Modal-4a Educacion 3°card nuevo +

<div class="modal fade" id="educacionNuevaModal" tabindex="-1" aria-labelledby="educacionNuevaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-3" id="educacionNuevaModalLabel">Nueva Educacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="educacionNuevaForm" class="text-center" (ngSubmit)="onEnviar($event)" name="educacionNuevaForm">
                    <div class="mb-3">
                        <h5>Logo</h5>
                        <label class="form-label" for="nombreNuevoskil"></label>
                        <input type="url" class="form-control" id="nombreNuevoskil" formControlName="nombreHabili
                            placeholder="Ingresar la Url de Imagen" [(ngModel)]="nombreHabili">
                    </div>

                    <div class="mb-3">
                        <h5>Nombre de
                            Establecimiento</h5>
                        <label class="form-label" for="establecimNuevoEdu"></label>
                        <input type="text" class="form-control" id="establecimNuevoEdu"
                        placeholder="Ingresar Nombre de Establecimiento"formControlName="establecimEduca" [(ngModel)]="establecimEduca"
                            [ngClass]="{'is-invalid': EstablecimEduca?.errors && EstablecimEduca?.touched, 'is-valid': !EstablecimEduca?.errors && EstablecimEduca?.touched}"
                            class="form-control" id="establecimNuevoEdu"
                            placeholder="Ingresar Nombre de Establecimiento" required>
                        <div *ngIf="EstablecimEduca?.errors && EstablecimEduca?.touched">
                            <p *ngIf="EstablecimEduca?.hasError('required')" class="text-danger">
                                El Nombre del Establecimiento es requerido.
                            </p>
                            <p *ngIf="EstablecimEduca?.errors?.['minlength']" class="text-danger">
                                texto mayor a 3 caracteres.
                            </p>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h5>Puesto</h5>
                        <textarea class="form-control" id="puestoNuevoEdu" formControlName="puestoEduca" placeholder="Ingresar Puesto" [(ngModel)]="puestoEduca"></textarea>
                        <label class="form-label" for="puestoNuevoEdu"></label>
                    </div>

                    <div class="mb-3">
                        <h5>Fechas de Inicio y Fin</h5>
                        <input type="text" class="form-control" id="fechasNuevaEdu" formControlName="fechasEduca"
                            placeholder="Ingresar Fechas a voluntad ejemplo: de Inicio y Fin, numero o letras" [(ngModel)]="fechasEduca">
                        <label class="form-label" for="fechasNuevaEdu"></label>
                    </div>
                    
                     <div class="modal-footer">
                        <button class="btn btn-outline-primary" aria-label="Close">Crear</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
-->

  <!-- Modal-5b habilidades-skills 4°card nueva
  <div class="modal fade" id="habilidadNuevaModal" tabindex="-1" aria-labelledby="habilidadNuevaModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title fs-3" id="habilidadNuevaModalLabel">Nueva Hablilidad </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form class="text-center" [formGroup]="form" (ngSubmit)="onEnviar($event)" novalidate
              name="habilidadNuevaForm">

              <div class="modal-body">

                  <div class="mb-3">
                      <h5>Habilidad</h5>
                      <input type="text" class="form-control" id="habilidadNuevaTxt"
                          formControlName="nombreArrayDeTs" placeholder="Ingresar el nombre de la habilidad">
                      <label class="form-label" for="habilidadNuevaTxt"></label>
                  </div>

                  <div class="mb-3">
                      <h5>Color de la Barra</h5>
                      <input type="text" class="form-control" id="barraNuevaColor"
                          formControlName="nombreArrayDeTs" placeholder="color...">
                      <label class="form-label" for="barraNuevaColor"></label>
                  </div>

                  <div class="mb-3">
                      <h5>Barra de progreso 1 a 10 </h5>
                      <input type="text" class="form-control" id="habilidadNuevaBarra"
                          formControlName="nombreArrayDeTs" placeholder="Ingresar ...">
                      <label class="form-label" for="habilidadNuevaBarra"></label>
                  </div>

                  <div class="mb-3">
                      <h5>Texto dentro de barra</h5>
                      <input type="text" class="form-control" id="habilidadNUevaBarraText" NUeva
                          formControlName="nombreArrayDeTs" placeholder="Ingresar texto dentro de barra">
                      <label class="form-label" for="habilidadNUevaBarraText"></label>
                  </div>

              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-outline-primary">Crear</button>
              </div>
          </form>
      </div>
  </div>
</div>
-->
            