<!--marcador # para interes en-->
<div id="a inicio"></div><!--redireccion interna enfoca mejor-->

<!-- 1°card: banner, foto, info pers, icono y boton edicion -->
<div class="card">

    <app-banner></app-banner>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <div class="d-flex">
                    <img [src]="miPersona.fotoPersona" class="carnet" alt="persona">
                    <div class="fotoPincel">
                        <button type="button" class="bi bi-pencil" data-bs-toggle="modal"
                            data-bs-target="#PersonaModal"></button>
                    </div>
                </div>
                <div class="card-body" id="deMi">
                    <h3 class="card-title">{{miPersona.nombreYapellido}} </h3>
                    <h5>{{miPersona.oficio}}</h5>
                    <p class="card-text">{{miPersona.localidad}} <a [href]="miPersona.contactoLink" target="_blank"
                            rel="noopener noreferrer" class="card-link">{{miPersona.textoContacto}}</a></p>
                </div>
            </div>

            <div id="logo-derecho" class="col-xs-12 col-sm-2 justify-content-end align-items-end">
                <img class="logo" id="logo-derecho-lugar" [src]="miPersona.logoDerecha"
                    alt="logo arg programa">{{miPersona.textoDerecho}}
            </div>
        </div>
        <div class="btn-group dropend">
            <div type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-auto-close="true" aria-expanded="false">
                Tengo interés en
            </div>
            <!--borde color azul (primary, ej verde: success)-->
            <div class="dropdown-menu border border-primary">
                <a class="dropdown-item" href="#deMi">Acerca de Mi</a>
                <a class="dropdown-item" href="#experiencia">Experiencia</a>
                <a class="dropdown-item" href="#educacion">Educación</a>
                <a class="dropdown-item" href="#habilidad">Habilidades/Skills</a>
                <a class="dropdown-item" href="#proyectos">Proyectos</a>
            </div>
        </div>
    </div>
</div>

<!-- modal-2 Persona  editar-->
<!-- <div class="modal fade" id="PersonaModal" tabindex="-1" aria-labelledby="PersonaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="text-center" [formGroup]="form" (ngSubmit)="onEnviar($event)" name="PersonaForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="PersonaModalLabel">Editar Datos de Persona</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        routerLink="/"></button>
                </div>

                <div class="modal-body">

                    <input type="hidden" formControlName="id" [ngModel]="perso.id">

                    <div class="mb-3">
                        <h5>Ingresar la Url de la foto</h5>
                        <input type="url" class="form-control" id="fotoPersona" formControlName="foto"
                            [ngModel]="perso.foto">
                        <label class="form-label" for="fotoPersona"></label>
                    </div>

                    <div class="mb-3">
                        <h5>Nombre y Apellido</h5>
                        <input type="text" class="form-control" id="nombreYapellidoPersona"
                            formControlName="nombreYapellidoPer" [ngModel]="perso.nombreYapellido">
                        <label class="form-label" for="nombreYapellidoPersona"></label>
                    </div>

                    <div class="mb-3">
                        <h5>Oficio</h5>
                        <input type="text" class="form-control" id="oficioPersona" formControlName="oficio"
                            [ngModel]="perso.oficio">
                        <label class="form-label" for="oficioPersona"></label>
                    </div>

                    <div class="mb-3">
                        <h5>Localidad</h5>
                        <input type="text" class="form-control" id="localidadPersona" formControlName="nombre"
                            [ngModel]="perso.nombre">
                        <label class="form-label" for="localidadPersona"></label>
                    </div>

                    <div class="mb-3">
                        <h5>Informacion de
                            Contacto--MaiTo?</h5>
                        <input type="text" class="form-control" id="contactoPersona" formControlName="contacto"
                            [ngModel]="perso.contacto">
                        <label class="form-label" for="contactoPersona"></label>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary">Guardar Cambios</button>
                </div>
            </div>
        </form>
    </div>
</div> -->

<!--marcador # para interes en-->
<div id="experiencia"></div><!--redireccion interna enfoca mejor-->