
<!-- Modal-4b Educacion 3°card editar 
    ng g c componentes/modales/experienciaedit --skip-tests
-->

<!-- <div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="educacionModalLabel" aria-hidden="true">
 <div class="modal-dialog">
     <div class="modal-content">
         <div class="modal-header">
             <h5 class="modal-title fs-3" id="educacionModalLabel">Editar Datos de Educacion</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <form class="text-center" [formGroup]="form" (ngSubmit)="edEnviar($event)" novalidate
             name="educacionForm">

             <div class="modal-body">

                 <div class="mb-3">
                     <h5>Editar Logo</h5>
                     <input type="url" class="form-control" id="logoExp" formControlName="logoeduca"
                         [(ngModel)]="educacion.logoEduca">
                     <label class="form-label" for="logoEdu"></label>
                 </div>

                 <div class="mb-3">
                     <h5>Editar Nombre de
                         Establecimiento</h5>
                     <input type="text" class="form-control" id="establecimEdu" formControlName="establecimEduca"
                         [(ngModel)]="educacion.establecimEduca">
                     <label class="form-label" for="establecimEdu"></label>
                 </div>

                 <div class="mb-3">
                     <h5>Editar Puesto</h5>
                     <textarea class="form-control" id="puestoEdu" formControlName="puestoEduca"
                         [ngModel]="educacion.puestoEduca"></textarea>
                     <label class="form-label" for="puestoEdu"></label>
                 </div>

                 <div class="mb-3">
                     <h5>Editar Fechas de Inicio y Fin</h5>
                     <input type="text" class="form-control" id="fechasEdu" formControlName="fechasEduca"
                         [(ngModel)]="educacion.fechasEduca">
                     <label class="form-label" for="fechasEdu"></label>
                 </div>

             </div>
             <div class="modal-footer">
                 <button type="submit" class="btn btn-outline-primary">Guardar Cambios</button>
             </div>
         </form>
     </div>
 </div>
</div> -->

