
    <!--5°card: proyectos y boton edicion-->
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col-10" medio>
                    <h3 class="card-title">Proyectos</h3>
                </div>
                <div class="col-2 d-flex justify-content-end align-items-end" editores>
                    <button tipe="button" data-bs-toggle="modal" data-bs-target="#proyectoNuevoModal"
                        data-bs-whatever="QUEHACE?@mdo">
                        <i class="bi bi-plus-lg"></i>
                    </button>
                </div>
            </div>

            <div *ngFor="let proyecto of proyectoList">
            <div class="row" id="filaEspacio">
                <div class="col-xs-12 col-sm-10" id=medio>
                    <a [href]="proyecto.direUrlProye" target="_blank" rel="noopener noreferrer">
                        <h4 class="card-title">{{proyecto.nombreProye}}</h4>
                    </a>
                    <p><strong>{{proyecto.descriProye}}</strong></p>
                </div>
                <div class="col-xs-12 col-sm-2 d-flex justify-content-end align-items-end " id=editores>
                    <button tipe="button" data-bs-toggle="modal" data-bs-target="#proyectoModal"
                        data-bs-whatever="SACARESTO?@mdo">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button tipe="submit" class=""><i class="bi bi-trash3"></i></button>
                </div>

            </div>
        </div>

        </div>
    </div>


    <footer>
        <div class="d-flex justify-content-center">
            <a class="btn btn-outline-primary" href="#a inicio">Volver a Inicio</a>
        </div>
    </footer>

