<div class="position-relative">
    <div class="position-absolute top-0 end-0">
        <button type="button" class="bi bi-pencil" data-bs-toggle="modal" data-bs-target="#bannerModal"></button>
    </div>
</div>
<div class="EspacioBanner">
    <img [src]="baner.fondo" class="card-img-top" alt=" Fondo o Banner">
</div>

<!-- modal-1 Banner Cambiar Foto-->
<div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="bannerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="bannerModalLabel">Cambiar Banner</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="text-center" (ngSubmit)="onEnviar($event)" novalidate name="bannerForm">
                <div class="modal-body">

                    <div class="mb-3">
                        <h5>Ingresar url de Foto</h5>
                        <input type="url" class="form-control" id="banner" formControlName="fondo"
                            placeholder="Ingresar la Url de Imagen">
                        <label class="form-label" for="banner"></label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- el (ngSubmit)="onEnviar($event)" lo arregle momentaneamente con la solucion del foquito creo en el baner.component.ts, 2 any pero hay q mejorarlo -->
<!-- linea 18 despues class="text-center" [formGroup]="form" y (ngSubmit)="onEnviar($event)" por ahora da error [formGroup]="form" -->
<!-- linea 23 despues de formControlName"fondo" va [(ngModel)]="banner.fondo" por ahora da error-->